
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



*{
  margin:0;
  padding:0;
}

.container{
  max-width:90vw;
}

.navbar{
  flex-direction :column;
  height: auto;
  font-family:'Ubuntu' sans-serif;
}

.navbar li{
  list-style:none;
  margin: 8px 0;
}


.topleft{
  width: 50%;
}

.topright{
  width:50%;
}

.section1{
 max-height: 100vh;
}

.section1 h1{
  font-size: 2rem;
  font-family: 'Oswald' sans-serif;
}

.section2{
  padding: 30px;
}

.section2 h1{
  font-size: 1.8rem;
}

.section2 pr{
  font-size: 0.8rem;
  padding: 0 8vw;
  font-family: 'Ubuntu' sans-serif;
}

.logo{
  font-size: 1.5rem;
}


.bottle{
  width: 80px;
}

.topright .goldenimg{
  width: 80%;
  margin: 0 auto;
  display: block;
}

.box{
  padding: 8px 0;
  margin: 12px 22px;
  min-width: 30vw;
}

.box{
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
}

.box h2{
  font-size:2rem;
  padding: 15px 0;
}

.box ul{
  list-style: none;
}

.box ul li{
  margin: 12px 5px;
}

.highlighted{
  font-size: 1.2rem;
  font-weight: bolder;
}

.plantable{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 table{
  width: 100%;
  margin-bottom: 140px;
  margin-top: 40px;
  border-collapse: collapse;
}

.section3 h1{
  font-size: 1.8rem
}

.section3{
  padding: 30px;
}

.section3 th{
  width: auto;
  border-bottom: 2px solid black;
  padding: 15px 0;
}

.section3 td{
  border-bottom: 2px solid black;
  
}

.footer{
  padding: 23px;
  text-align: center;
}